<!--The content below is only a placeholder and can be replaced.-->
<ngx-ui-loader
bgsColor= "red"
bgsOpacity= "0.5"
  bgsPosition= "bottom-right"
  bgsSize= "60"
  bgsType= "ball-spin-clockwise"
  blur= "5"
  delay= "0"
  fgsColor=" red"
  fgsPosition= "center-center"
  fgsSize= "60"
  fgsType= "three-strings"
  gap="10"
  logoPosition= "center-center"
  logoSize= "120"
  logoUrl= "assets/logo.svg"
  masterLoaderId= "master"
  overlayBorderRadius= "0"
  overlayColor= "rgba(40 40 40 0.8)"
  pbColor= "red"
  pbDirection= "ltr"
  pbThickness= "3"
  hasProgressBar= "true"
  text= "News"
  textColor= "#FFFFFF"
  textPosition= "center-center"
  maxTime= "-1"
  minTime= "500"
  ></ngx-ui-loader>
<router-outlet></router-outlet>
